.site-hero {
    height: 80vh;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    font-size: xx-large;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    text-align: center;
    
}

h2, h4  {
    color: white;
    font-size: xx-large;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    text-align: center;
   
}

 