body {
   background: black;
   color: gold;
 }
 
.animation-container {
  width: 85%;
  display: flex;
  margin: 10% auto;
}

.chucked    {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-top: 70px;
    border-radius: 5%;

}
.chucked2    {
  height: 100px;
  width: 100px;
  background-color: rgb(231, 231, 240);
  margin-top: 70px;
  border-radius: 5%;
}

.chucked3    {
  height: 100px;
  width: 100px;
  background-color: orange;
  margin-top: 70px;
  border-radius: 5%;
}
.chucked4    {
  height: 100px;
  width: 100px;
  background-color: rgb(250, 3, 3);
  margin-top: 70px;
  border-radius: 5%;
}

.chucked5   {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 0, 200);
  margin-top: 70px;
  border-radius: 5%;
}

 .column {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
.text-box {
  width: 70%;
}

.text-box h2 {
font-size: 5rem;
}
   
.explore {
  font-size: 6rem;
}
   
p  {
  color: rgb(229, 226, 223);

}
 