th {background-color: green;}
table {width: 60%;
      margin: 10%;
      padding: 10%; 
}
header {
      color: orange;
}
      

       td {
            background-color: orange;
            width: 10%;
            height: 1in;
       }

   

