ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: column;
    

    
}

li {padding: 10px;
    list-style: none;
    
}

nav {
    background-color: purple;
    
}