#myGrid {
      height: 100vh;
      display: grid;
      grid-template-columns: 10% 4fr;
      grid-template-rows:  10% 80% 10%;
      grid-template-areas: 
      "myHeader myHeader myHeader myHeader myHeader"
      "sideNav content content content content"
      "sideNav footer footer footer footer";
}
header {
      background-color: aquamarine;
      grid-area: myHeader;
}
nav {
      background-color: aqua;
      grid-area: sideNav;
      list-style: none;
      
     
}
img {
      float: right;
}
p {
      float: left;
}
main {
      
      grid-area: content;
      width: 100%;
      background-color: yellow;
}
footer {
      background-color: chartreuse;
      grid-area: footer;
}