table {
      border-bottom: solid green;
      margin: 10%;
      width: 50%;

      
}


/* Any button over which the user's pointer is hovering */
button:hover {
      color: red;
    }
      
       

   

