input[type=submit] {
    border: none;
    background: blue;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

input[type=text]:invalid, input[type=number]:invalid, input[type=email]:invalid, input[type=address]:invalid {
    border: 2px dashed red;
}

input[type=text]:valid, input[type=number]:valid, input[type=email]:valid, input[type=address]:invalid{
        border: 2px solid green;
    }

div {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 30pt;
    
}



textarea {
    width: 70%;
}
select {
    align-self: flex-start;
    size: 70%;
}
input[type=submit]:hover {
    background-color: green;

}

img {
    width: 40%;
    align-items: center;
}
body{
    background-color: rgb(230, 222, 222);
    display: block;
    direction: ltr;
    line-height: 1.34;
    margin: 10%;
    padding: 10%;
    overflow-y: scroll;
    justify-content: center;

}
form {
width: 50%;
height: 50%;
background-color:white;


}

#message {
    width: 80%;
    height: 20%;
}
input {
    display: block;

}